DOR_LICENSE_V2_PLUGIN_ID="uxp-vanilla-keygen"
DOR_UXP_PLUGIN_ID="uxp-vanilla-keygen"
DOR_UXP_PLUGIN_NAME="UXP Vanilla Keygen Starter"
DOR_UXP_PANEL_LABEL="UXP Vanilla Keygen Starter"

DOR_LICENSE_ENABLED="true"
DOR_BUILD_OBFUSCATE="true"
DOR_LICENSE_V2_OBFUSCATION_KEY=""

DOR_LOCAL_VERSION="1.0.0"
PLUGIN_VERSION="1.0.0"

DOR_LICENSING_ENV="staging"
DOR_KEYGEN_BASE_URL="https://api.keygen.sh"
DOR_KEYGEN_ACCOUNT_ID="<KEYGEN_ACCOUNT_ID>"
DOR_KEYGEN_PRODUCT_ID="<KEYGEN_PRODUCT_ID>"

DOR_LICENSE_EVENT_URL=""
DOR_LICENSE_EVENT_TIMEOUT_SECONDS=3
DOR_LICENSE_LOCAL_VALID_EVENT_INTERVAL_SECONDS=86400

DOR_LICENSE_V2_UPDATE_STATUS_URL=""
DOR_LICENSE_V2_UPDATE_CHANNEL="staging"
DOR_LICENSE_V2_ALLOWED_UPDATE_CHANNELS='["staging","production"]'
DOR_UPDATE_PORTAL_URL=""
DOR_UPDATE_CHECK_INTERVAL_SECONDS=30
DOR_UPDATE_TIMEOUT_SECONDS=8
